.header-content1 {
    background-color: #CE2829;
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    border: 0px, 0px, 1px, 0px;
}

    .poller-one-regular {
        font-family: "Poller One", serif;
        font-weight: 400;
        font-style: normal;
      }
    
    
   


.teknolojik-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}

input[type="checkbox"] {
    display: block;
    

}

.boyut-section {
    display: block;
    text-align: left;
    
}

.hamur-section {
    display:flex;
    text-align:right;
    justify-content: end;
    align-items: baseline;
    flex-direction: column-reverse;
    gap: 1rem;
    

}




    
    
    




    



 
   

    
    



